[Desktop Entry]
Encoding=UTF-8
Name=NetBeans IDE 8.1
Comment=The Smarter Way to Code
Exec=/bin/sh "/home/venky/netbeans-8.1/bin/netbeans"
Icon=/home/venky/netbeans-8.1/nb/netbeans.png
Categories=Application;Development;Java;IDE
Version=1.0
Type=Application
Terminal=0

